<footer class="grid-middle padding">
  <div class="col-3">
    <p>LOGO</p>
  </div>
  <div class="col-3">
    <h5>About Me</h5>
    <p>This is a brief paragraph about me that is great for SEO purposes</p>
  </div>
  <div class="col-3">
    <h5 class="centerText">Helpful Links on the site</h5>
    <ul>
      <li><a href="/faq">Frequently Asked Questions</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/1031">1031 Exchange</a></li>
      <li><a href="/propertiesPage">All the Properties</a></li>
    </ul>
  </div>
  <div class="col-3">
    <h5>Follow Us!</h5>
    <a href="http://linkedin.com">LinkedIn logo</a>
    <a href="http://facebook.com">Facebook logo</a>
  </div>
</footer>
